<!DOCTYPE html>
<html lang="en">

<head>
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/bootsrap.min.css">
    <link rel="stylesheet" href="css/style.css" <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank policies</title>
    <link rel="stylesheet" href="CSS/bank.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>
<div class="container-fluid mt-5 about-style" id="bankdetailsid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Bank Details</h1>
                <p class="text-center sub-heading">These are some Banks all over the India with some financial facilities for farmers</p>
                <div class="row">




 <!-- first section -->
    <section class="hell1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto"  data-aos="fade-right">
                    <div class="row">
                        <div
                            class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
                            <h1 class="font">CROP FINANCE POLICY (BOI) </h1>

                            <p class="hello">The objective of the scheme is to meet genuine short term crop production
                                           credit requirements of farmers to enable them to undertake crop cultivation on modern lines 
                                           so that they can increase their farm production and productivity level.<a href="https://www.bankofindia.co.in/cropfinance"><u>for more details</a></u> </p>

                        </div>

                        <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                            <figure>
                                <img class="img-banner" src="images/BOI.jpg" alt="herosection_image" </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- first section ends-->

    <!-- second section -->
        <div class="container-fluid mt-5 about-style" id="aboutid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">


                    <div class="row">

                        <div class="col-md-6 col-12 hero-text" data-aos="fade-left">
                            <figure>
                                <img class="img-banner" src="images/SBI.jpg" alt="herosection_image" </figure>
                        </div>

                        <div
                            class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-center flex-column">

                            <h1 class="font ">PRADHAN MANTRI FASAL BIMA YOJNA POLICY (SBI)</h1>
                            <p class="hello"> Following contingencies are covered under the policy:
                                             1. Standing crop (sowing to harvesting)
                                   Comprehensive risk insurance is provided to cover yield losses due to non­preventable risks, viz.
                                   Natural Fire and Lightning
                                   Storm, Hailstorm, Cyclone, Typhoon, Tempest, Hurricane, Tornado etc
                                   Flood, Inundation and Landsli
                                   Drought, Dry spell
                                   Pests etc.
                                   2. Prevented sowing/planting risk.<a href="https://www.sbigeneral.in/portal/pradhan-mantri-fasal-bima-yojna"><u>for more details</u></a>
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- second section ends -->

    <!-- third section -->
        <div class="container-fluid mt-5 about-style" id="aboutid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto" data-aos="fade-right">

                    <div class="row">
                        <div
                            class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">

                            <h1 class="font ">AGRICULTURE CROP INSURANCE POLICY(HDFC)</h1>

                            <p class="hello">HDFC ERGO is offering a comprehensive Yield-based Crop Insurance Policy along with weather insurance which is aimed at covering the production risks faced by the agricultural sector. 
                                          This policy covers any shortfall in yield resulting due to Natural Fire and lightning, Storm, Hailstorm, cyclone
                                        , Typhoon, Tempest, Hurricane, Tornado, Flood, Inundation, Landslide, Drought, Dry spells, Pests/ Diseases, etc.
                                <a href="https://www.hdfcergo.com/commercial-insurance/agriculture-crop-insurance-policy"><u>for more details</u></a>
                            </p>
                        </div>

                        <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                            <figure>
                                <img class="img-banner" src="images/HDFC.jpg" alt="herosection_image" </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- third section ends -->

     <!-- fourth section -->
        <div class="container-fluid mt-5 about-style" id="aboutid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">

                    <div class="row">

                        <div class="col-md-6 col-12 hero-text" data-aos="fade-left">
                            <figure>
                                <img class="img-banner" src="images/ICICI.jpg" alt="herosection_image" </figure>
                        </div>

                        <div
                            class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-center flex-column">
                            <h1 class="font ">KRISHI LOAN (ICICI)</h1>
                            <p class="hello">ICICI Bank offers a range of agriculture loans. 
                                        You can use our overdraft facility to meet the cost of cultivation and working capital activities for farming and allied activities. 
                                        We also offer term loans for buying cattle, purchase of equipment for irrigation and other agricultural requirements.
                                        <a href="https://www.icicibank.com/rural/loans/farmer-finance/index.page"><u>for more details</u></a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- fourth section ends -->


        <!-- sixth section -->
        <div class="container-fluid mt-5 about-style" id="aboutid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">

                    <div class="row">

                        <div class="col-md-6 col-12 hero-text order-md-1 order-0" data-aos="fade-right">
                            <figure>
                                <img class="img-banner" src="images/BOM.jpg" alt="herosection_image" </figure>
                        </div>

                        <div
                            class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
                            <h1 class="font ">MAHABANK KISAN LOAN(BOM)</h1>
                            <p class="hello"> To create hassle free single term loan limit to farmer for all term loan requirment
                                excluding development project with long gestation periods(more than 3-4 years)
                                        <a href="https://www.bankofmaharashtra.in/mahabank_kisan_all_purpose_term_loan"><u>for more details</u></a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- sixth section ends -->

        
        <!-- seventh section -->
        <div class="container-fluid mt-5 about-style" id="aboutid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">

                    <div class="row">

                        <div class="col-md-6 col-12 hero-text" data-aos="fade-left">
                            <figure>
                                <img class="img-banner" src="images/axis.jpg" alt="herosection_image" </figure>
                        </div>

                        <div
                            class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-center flex-column">
                            <h1 class="font">AGRI AND RURAL POLICY (AXIS BANK)</h1>
                            <p class="hello">A facility that aims to provide timely credit to farmers, meeting all their cultivation, farm maintenance and investment needs.
                                        <a href="https://www.axisbank.com/agri-and-rural/loans"><u>for more details</u></a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </section>
        </div>
        </div>
        </div>
        </div>
        

        <!-- seventh section ends -->

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init(
        {
          offset: 600,
          duration: 1000
        });
    
  </script>

</body>

</html>