<!DOCTYPE html>
<html lang="en">

<head>
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/bootsrap.min.css">
    <link rel="stylesheet" href="css/style.css" <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>

</head>

<body>
    
    <div class="container-fluid mt-5 about-style" id="cropsid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Crops</h1>
                <p class="text-center sub-heading">These are the different types of Crops From all over the India</p>
                <div class="row">

<!-- Photo Grid -->
<div class="row"> 
  <div class="column" data-aos="fade-up">
  <a href="pdfs/wheat.pdf"><img src="images/wheat.jpg" style="width:100%" >Wheat</a>
  <a href="pdfs/rice.pdf"><img src="images/Rice.jpg" style="width:100%">Rice</a>
  <a href="pdfs/oats.pdf"><img src="images/oats.jpg" style="width:100%">Oats</a>
  <a href="pdfs/onion.pdf"><img src="images/onion.jpg" style="width:100%">Onion</a>
  <a href="pdfs/potato.pdf"><img src="images/Potato.jpg" style="width:100%">Potato</a>
  <a href="pdfs/Tomato.pdf"><img src="images/Tomato.jpg" style="width:100%">Tomato</a>
  <a href="pdfs/green_peas.pdf"><img src="images/greenpeas.jpg" style="width:100%">Greenpeas</a>
  <a href="pdfs/groundpeanut.pdf"><img src="images/peanut.jpg" style="width:100%">GroundPeanut</a>
  
  </div>

  <div class="column" data-aos="fade-down">
  <a href="pdfs/Garlic.pdf"><img src="images/garlic.jpg" style="width:100%">Garlic</a>
  <a href="https://startupbizglobal.com/starting-cabbage-farming-business-plan-pdf/"><img src="images/cabbage.jpg" style="width:100%">Cabbage</a>
  <a href="http://ijariie.com/AdminUploadPdf/A_STUDY_OF_CHILLI_PRODUCTION_AND__EXPORT_FROM_INDIA_ijariie4025.pdf"><img src="images/chili.jpg" style="width:100%">Chilli</a>
  <a href="https://www.uaex.edu/publications/pdf/mp437/mp437.pdf"><img src="images/Corn.jpg" style="width:100%">Corn</a>
  <a href="http://www.fao.org/3/au997e/au997e.pdf"><img src="images/Barley.jpg" style="width:100%">Barley</a>
  <a href="https://www.biologydiscussion.com/vegetable-breeding/beetroot-origin-production-and-breeding-methods-india/68475"><img src="images/beetroot.jpg" style="width:100%">Beetroot</a>
  <a href="pdfs/CauliflowerChapter.pdf"><img src="images/cauliflower.jpg" style="width:100%">Cauliflower</a>
  <a href="https://apps.fas.usda.gov/newgainapi/api/report/downloadreportbyfilename?filename=An%20Analysis%20of%20Guar%20Crop%20in%20India_New%20Delhi_India_5-6-2014.pdf"><img src="images/guar bean.jpg" style="width:100%">GuarBeans</a>
  </div>  

  <div class="column" data-aos="fade-up">
  <a href="pdfs/capsicum.pdf"><img src="images/capsicum.jpg" style="width:100%">Capsicum</a>
  <a href="pdfs/Carrot.pdf"><img src="images/Carrot.jpg" style="width:100%">Carrot</a>
  <a href="https://www.asiafarming.com/eggplant-farming"><img src="images/brinjal.jpg" style="width:100%">Brinjal</a>
  <a href="https://kvk.icar.gov.in/API/Content/PPupload/k0202_62.pdf"><img src="images/ladyfinger.jpg" style="width:100%">Ladyfinger</a>
  <a href="https://www.dpi.nsw.gov.au/__data/assets/pdf_file/0004/311485/Pumpkin-production.pdf"><img src="images/pumpkin.jpg" style="width:100%">Pumpkin</a>
 <a href="pdfs/Spinach.pdf"><img src="images/spinch.jpg" style="width:100%">Spinach</a>
  <a href="https://www.intracen.org/uploadedFiles/intracenorg/Content/Exporters/Market_Data_and_Information/Market_information/Market_Insider/Essential_Oils/An%20overview%20of%20Mentha%20arvensis.pdf"><img src="images/mint.jpg" style="width:100%">Mint</a>
 <a href="https://www1.agric.gov.ab.ca/$department/deptdocs.nsf/all/agdex121/$file/147_20-2.pdf?OpenElement"><img src="images/coriander.jpg" style="width:100%">Coriander</a>
  </div>
 
 <div class="column" data-aos="fade-down">
 <a href="https://ucanr.edu/sites/placernevadasmallfarms/files/112366.pdf"><img src="images/apple.jpg" style="width:100%">Apple</a>
 <a href="http://www.arc.agric.za/arc-itsc/Leaflets%20Library/Cultivating%20Banana%20-%20English.pdf"><img src="images/banana.jpg" style="width:100%">Banana</a>
 <a href="https://yeanrwanda.org/images/E_library/Watermelon%20Farrming%20Manual%20-%20By%20Kalimbini%20Fresh%20Farm%20Ltd.pdf"><img src="images/watermelon.jpg" style="width:100%">Watermelon</a>
 <a href="http://odihort.nic.in/sites/default/files/Lemon%20Grass%20Project.pdf"><img src="images/lemon.jpg" style="width:100%">Lemon</a>
 <a href="http://bpi.da.gov.ph/bpi/images/Production_guide/pdf/Mango.pdf"><img src="images/mango.jpg" style="width:100%">Mango</a>
<a href="http://bpi.da.gov.ph/bpi/images/Production_guide/pdf/Pineapple%20.pdf"><img src="images/pinapple.jpg" style="width:100%">Pineapple</a>
<a href="https://www.agrifarming.in/tag/orange-cultivation-pdf"><img src="images/orange.jpg" style="width:100%">Orange</a>
<a href="pdfs/grapes.pdf"><img src="images/grapes.jpg" style="width:100%">Grapes</a>
</div>


</div>
</div>
</div>
</div>
</div>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init(
        {
          offset: 600,
          duration: 1000
        });
    
  </script>


</body>

</html>