<!DOCTYPE html>
<html lang="en">

<head>
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/bootsrap.min.css">
    <link rel="stylesheet" href="css/style.css" <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>



    <div class="container-fluid mt-5 about-style" id="govpolicyid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto" data-aos="fade-up">
                <h1 class="text-center main-heading">Government Policies</h1>
                <p class="text-center sub-heading">lets see all the government policies related to kisaan yojana</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">

                                <div class="icon">
                                    <img src="https://www.flaticon.com/authors/darius-dan.png" alt="">
                                </div>

                                <h4>
                                    <a href="https://www.ibef.org/blogs/india-s-promising-new-agricultural-policy#:~:text=In%20September%202020%2C%20three%20agri,to%20raise%20farmers'%20incomes%20in"
                                        class="btn btn-primary btn-lg stretched-link">Govpolicy
                                        2020</a>
                                </h4>
                                <p>Here are some governmnet policies of 2020</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services database">

                                <div class="icon">
                                    <img src="https://www.flaticon.com/authors/darius-dan.png" alt="">
                                </div>

                                <h4>
                                    <a href="https://www.indiatoday.in/education-today/gk-current-affairs/story/10-important-government-schemes-agriculture-sector-divd-1593413-2019-08-30"
                                        class="btn btn-success btn-lg">Govpolicy
                                        agricultural sectors</a>
                                </h4>
                                <p>Here are some governmnet policies in agricultural Sectors</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services backups">

                                <div class="icon">
                                    <img src="https://www.flaticon.com/authors/darius-dan.png" alt="">
                                </div>

                                <h4>
                                    <a href="http://elearning.nokomis.in/uploaddocuments/Agri%20Finance%20Management%20(New)/chap%202%20Agriculture%20And%20Allied%20Activities/PPT/2.%20Chapter-2-Agriculture%20&%20Allied%20Activities.pdf"
                                        class="btn btn-danger btn-lg">Govpolicy
                                        and allied activities</a>
                                </h4>
                                <p>Here are some governmnet policies and allied activities</p>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">

                                <div class="icon">
                                    <img src="https://www.flaticon.com/authors/darius-dan.png" alt="">
                                </div>

                                <h4>
                                    <a href="https://www.bbc.com/news/world-asia-india-54233080#:~:text=On%20the%20face%20of%20it,boil%20for%20some%20years%20now."
                                        class="btn btn-primary btn-lg stretched-link">Govpolicy
                                        farm laws</a>
                                </h4>
                                <p>Here are some things about farmer protest</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services database">

                                <div class="icon">
                                    <img src="https://www.flaticon.com/authors/darius-dan.png" alt="">
                                </div>

                                <h4>
                                    <a href="https://timesofindia.indiatimes.com/india/what-are-new-farm-laws-and-and-why-farmers-are-protesting/articleshow/79609234.cms"
                                        class="btn btn-success btn-lg">Govpolicy
                                        new farm laws 2020</a>
                                </h4>
                                <p>Here are some new farm laws of 2020</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services backups">

                                <div class="icon">
                                    <img src="https://www.flaticon.com/authors/darius-dan.png" alt="">
                                </div>

                                <h4>
                                    <a href="https://enam.gov.in/web/stakeholders-Involved/fpos"
                                        class="btn btn-danger btn-lg">Govpolicy
                                        FPO's</a>
                                </h4>
                                <p>Here are some fpo's which can support Indian farmersfinancially and locally </p>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init(
        {
          offset: 600,
          duration: 1000
        });
    
  </script>
</body>

</html>